
<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>SEJÁ BEM VINDO!</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="box-content">
    <mat-card-header>
      <mat-card-subtitle>Sistema de investimentos, aqui seu dinheiro rende mais</mat-card-subtitle>
      <a mat-stroked-button  routerLink="/extrato">COMEÇAR AGORA MESMO</a>
    </mat-card-header>
  </mat-card>
  <mat-toolbar class="footer-text">
    <p class="footer-text">todos os direitos reservados</p>
  </mat-toolbar>
</div>
